.navbar-brand {
    width:150px;
    font-size: 24px;
    padding: 0px 15px;
}
.navbar-brand img {
    max-height: 100%;
    float: left;
    margin-right: 7px;
}

.navbar 
{
    background-color: #660000;
    position: relative;
    top: 0px;
    width: 100%;   
}
.banner{
    background-color:#660000;
    color: white;
    margin-top: 0px;
    text-align: center;
    padding: 30px 0;
}
#csis{
    height: 50;
}
.mytext
{
    text-align: center;
    display: inline-block;
    width: 150px;
  
}
.employeeinput
{
    text-align: center;
    top: 20px;
    margin-top: 20px;  
}
.container > ul li
{
    list-style-type: none;
    text-align: center;
    display:inline-block;
    margin-right: 20px; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px; 
    padding-left:30px;
    padding-right:50px; 
    
}
.jumbotron
{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
    border: 10px inset crimson;
    background-color: rgb(209, 203, 203);
    top: 8px;
    color:inset crimson;
    height: 35px;    
    width: 50px;
    margin-left: 250px;
    width: 60%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.jumbotron h1{
    font-size: 30px;
    margin-top: -35px;  
    left:10px;
    color:inset crimson;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #660000 !important;
    border-color: #660000 !important;
}
