.navbar-brand {
    width:150px;
    font-size: 24px;
    padding: 0px 15px;
  }
  .navbar-brand img {
    max-height: 100%;
    /* put value of image height as your need */
    float: left;
    margin-right: 7px;
  }
.navbar 
{
    background-color: #660000;
    position: relative;
    top: 0px;
    width: 100%; 
    
}

.container > ul li
{
    
    list-style-type: none;
    text-align: center;
    display:inline-block;
    margin-right: 20px; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px; 
    padding-left:30px;
    padding-right:50px;
    
}
p{
    margin: 0px;
}
.banner
{
    width: 98%;
    text-align: center;
    margin-right: 1em;
    display:inline-block;
}

li a 
{
    color: white;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    left: -10px;
}

.row{
    margin-top: 50px;
    color: white;
  }

.col-xs-4{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  #headerwithborder h1 {
    color: white;
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 10px inset crimson;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
  }

