.navbar-brand {
    width:150px;
    font-size: 24px;
    padding: 0px 15px;
  }
  .navbar-brand img {
    max-height: 100%;
    /* put value of image height as your need */
    float: left;
    margin-right: 7px;
  }
.navbar 
{
    background-color: #660000;
    position: relative;
    top: 0px;
    width: 100%; 
    
}

.container > ul li
{
    
    list-style-type: none;
    text-align: center;
    display:inline-block;
    margin-right: 20px; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px; 
    padding-left:30px;
    padding-right:50px;
    
}
p{
    margin: 0px;
}
.banner
{
    width: 98%;
    text-align: center;
    margin-right: 1em;
    display:inline-block;
}

li a 
{
    color: rgb(245, 241, 241);
    background-color: transparent;
    text-decoration: none;
    position: relative;
    left: -10px;
}

.row{
    margin-left: -50px;
    color: rgb(12, 11, 11);
  }

.col-xs-4{
    color: rgb(14, 13, 13);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  #headerwithborder h1 {
    color: rgb(8, 8, 8);
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 10px inset crimson;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
  }
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #660000 !important;
    border-color: #660000 !important;
}

.table-bordered{
  width:20%;
  background-color: white;
  margin-top: 70px;
  margin-right: 50px;
}

.table-bordered th{
  background-color:  #660000;
  color: white;
  text-align: left;
  white-space: nowrap;
}
.table-bordered td{
  text-align: left;
  white-space: nowrap;
}

.jumbotron
{
    font-size: 25px;
    border-radius: 25px;
    border: 10px inset crimson;
    background-color:transparent;
    top: 8px;
    color: #0f0e0e;
    height: 35px;    
    width: 50px;
    margin-left: 250px;
    /* text-align: center; */
    width: 60%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.jumbotron h1{
    font-size: 30px;
    margin-top: -35px;  
    left:10px;
    color:rgb(19, 15, 15)
}